@page "/newpessoa"
@using Aula02.Data;
@using Aula1.Model;

<PageTitle>Nova Pessoa</PageTitle>

<h1>Nova Pessoa</h1>

<h3>Nome</h3>
<input  type="text" @bind="pessoa.nome" />
<h3>CPF</h3>
<input type="text" @bind="pessoa.CPF" />
<h3>Data de Nascimento</h3>
<input type="date" @bind="pessoa.DataNac" />

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary"
@onclick="IncrementCount">Click me</button>

@code {
    
    public Pessoa pessoa = new Pessoa();
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {         
        pessoa.DataNac = DateTime.Now;
    }
    private void IncrementCount()  {
        if (ListaPessoa.Pessoas.Exists(p => p.nome.Contains(pessoa.nome)))
        {
            if (ListaPessoa.Pessoas.Exists(p => p.CPF.Contains(pessoa.CPF)))
            {                
            }else
            {
                pessoa.id = Guid.NewGuid();
                ListaPessoa.Pessoas.Add(pessoa);
                pessoa = new Pessoa();
                pessoa.DataNac = DateTime.Now;
                currentCount++;                
            }
        }else
        {
            if (ListaPessoa.Pessoas.Exists(p => p.CPF.Contains(pessoa.CPF)))
            {
            }
            else
            {
                pessoa.id = Guid.NewGuid();
                ListaPessoa.Pessoas.Add(pessoa);
                pessoa = new Pessoa();
                pessoa.DataNac = DateTime.Now;
                currentCount++;
            }
            
        }
    }
}
